/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        enabled: params.outdir ? true : false
    ]

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml',
            enabled: params.outdir ? true : false
        ]
    }

    withName: 'SONG.*|SCORE.*' {
      ext.prefix = ""
      ext.api_download_token = params.api_download_token ?: params.api_token
      ext.api_upload_token = params.api_upload_token ?: params.api_token
    }

    withName: 'BCF_SNP' {
        ext.args = { "-H -f PASS -v snps --output-type v"}
    }

    withName: 'BCF_INS' {
        ext.args = { "-H -f PASS -v indels -i 'ILEN>0' --output-type v"}
    }

    withName: 'BCF_DEL' {
        ext.args = { "-H -f PASS -v indels -i 'ILEN<0' --output-type v"}
    }

    withName: 'BCF_HET_SNP' {
        ext.args = { "-H -f PASS -v snps -g het --output-type v"}
    }

    withName: 'BCF_HOMO_SNP' {
        ext.args = { "-H -f PASS -v snps -g hom --output-type v"}
    }

    withName: 'BCF_HET_INDEL' {
        ext.args = { "-H -f PASS -v indels -g het --output-type v"}
    }

    withName: 'BCF_HOMO_INDEL' {
        ext.args = { "-H -f PASS -v indels -g hom --output-type v"}
    }

    withName: 'STATS_TSTV' {
        ext.args = { "-f PASS"}
    }

}
