/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run icgc-argo-workflows/dnaalnqc -profile test_rdpc_qa,<standard/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'RDPC QA test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    study_id                   = "TEST-PR"
    analysis_ids               = "015f5af4-58e3-40a2-9f5a-f458e320a27b"
    //study_id = "TEST-QA"
    //analysis_ids = "9bb63c49-86c8-44e2-b63c-4986c804e274"
    local_mode                 = false
    fasta                      = null
    fasta_fai                  = null
    //fasta_fai                  = "assets/tests/reference/tiny-grch38-chr11-530001-537000.fa.fai"
    //autosome_non_gap           = "assets/tests/reference/tiny-intervals.bed"
    autosome_non_gap           = "assets/autosomes_non_gap_regions.bed"
    regions                    = null
    targets                    = null
    exons                      = null
    samples                    = null
    cleanup                    = true
    //fasta                      = "${params.reference_base}/GRCh38_hla_decoy_ebv.fa"
    //fasta_fai                  = "${params.reference_base}/GRCh38_hla_decoy_ebv.fa.fai"
    //fasta_dict                 = "${params.reference_base}/GRCh38_hla_decoy_ebv.dict"
    //germline_resource          = "${params.reference_base}/gatk_resource/af-only-gnomad.pass-only.biallelic.snp.hg38.vcf.gz"
    //germline_resource_tbi      = "${params.reference_base}/gatk_resource/af-only-gnomad.pass-only.biallelic.snp.hg38.vcf.gz.tbi"


}

process {
    // process labels
    withLabel:process_single {
        cpus   = 1 
        memory = 3.GB
        time   = 4.h
    }
    withLabel:process_low {
        cpus   = 2
        memory = 6.GB
        time   = 4.h
    }
    withLabel:process_medium {
        cpus   = 3
        memory = 12.GB
        time   = 8.h
    }
}
